{% extends "base.html" %}

{% block title %}Configure{% end %}

{% block body %}
    <h1>Configure</h1>
    <p>Configure a new game of {{ config["display_name"] }}.</p>
    <form method="post" action="/games/{{ game_name }}/start">
        {% for i in range(config["num_players"]) %}
            <p>
                Player {{ config["player_names"][i] if i < len(config["player_names"]) else i + 1 }}:
                <select name="players">
                    <option>Choose Player</option>
                    {% for player in players %}
                        <option>{{ player }}</option>
                    {% end %}
                </select>
            </p>
        {% end %}
        <input type="submit" value="Play!">
    </form>
{% end %}
