{% extends "base.html" %}

{% block title %}View{% end %}

{% block head %}
    <link rel="stylesheet" href="/assets/games/tictactoe/game.css">
{% end %}

{% block body %}
    <h1>View</h1>
    <p>Viewing game.</p>
    <a href="/">Home</a>

    {% raw game_template %}
    <script>
        var StratumView = {
            onstate: function() {
                throw new Error("StratumView.onstate should be implemented.");
            }
        };
    </script>
    <script src="/assets/games/tictactoe/game.js"></script>
    <script src="/assets/js/view.js"></script>
{% end %}
