{% extends "base.html" %}

{% block title %}View Game - Stratum{% end %}

{% block content %}
    <link rel="stylesheet" href="{{ reverse_url('static', 'games/{}/game.css'.format(game_name)) }}">
{% end %}

{% block body %}
    <h1>View</h1>
    <p>Viewing game.</p>
    <a href="{{ reverse_url('main') }}">Home</a>

    {% raw game_template %}
    <script>
        var StratumView = {
            onstate: function() {
                throw new Error("StratumView.onstate should be implemented.");
            }
        };
    </script>
    <script src="{{ reverse_url('static', 'games/{}/game.js'.format(game_name)) }}"></script>
    <script src="{{ reverse_url('static', 'js/view.js') }}"></script>
{% end %}
